
  <div class="comment-form ">
    <%= simple_form_for @new_comment, :form_html=> {:class=>"form-horizontal"} do |f| %>
    <div class="input-group col-lg-6">
      <%= f.input :body, :input_html => { :rows => "2", :columns => "50", :class=>"form-control input-md" }, :label => false %>
      <%= f.input :commentable_id, :as => :hidden, :value => @new_comment.commentable_id %>
      <%= f.input :commentable_type, :as => :hidden, :value => @new_comment.commentable_type %>
     </div>

     <div class="form-group">
      <%= f.button :submit, :class => "btn btn-primary", :disable_with => "Submitting…" %>
     
    <% end %>
     </div>
    
     
  
  </div>
