<%- model_class = Plot -%>
<div class="page-header">
  <h1><%= @plot.last_name %>, <%= @plot.first_name %>, <%= @plot.middle_name %></h1>
  <h3><%= @plot.birth_date %> - <%= @plot.death_date %> </h3>
</div>

<div class="row">
<div class="span9">
<h4>
    Details
</h4>
  <b>Rank</b><br>  <%= @plot.rank %><br>
  <b>Birth Date</b><br> <%= @plot.birth_date %><br>
  <b>Death Date</b><br> <%= @plot.death_date %><br>
  <b> Unit Name</b><br>  <%= @plot.unit %><br>
  <b>Spouse</b><br>  <%= @plot.spouse %><br>
  <b>Mother</b><br>  <%= @plot.mother %><br>
  <b>Father</b><br>  <%= @plot.father %><br>
  <h4>Location:</h4>
  <b>Plot:</b> <%= @plot.id %><br>
  <%= link_to @plot.cemetery.name, cemetery_path(@plot.cemetery) %>
  <h4>Notes:</h4>
  <%= @plot.description %><br>
</div>
<div class="span3">
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              cemetery_plots_path(@cemetery), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_cemetery_plot_path(@cemetery, @plot), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              cemetery_plot_path(@cemetery, @plot),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
</div>
</div>
<div class ="row">
  <% @plot.attachments.each do |attachment| %>
    <%= image_tag attachment.photo(:small) %>
  <%end%>
<div class="row">
  <%= link_to "Add Photo", new_cemetery_plot_attachment_path(@plot.cemetery, @plot)%>
</div>


  
</div>
