 <% content_for :head do %>
 
  <%= stylesheet_link_tag 'plots', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'plots', 'data-turbolinks-track' => true %>
<% end %>
<% @plot_photo = @plot.attachments %>


<div class="container">
        <h1><%= @plot.rank %> <%= @plot.last_name %> <small><%=@plot.first_name%> <%=@plot.middle_name%></small></h1>       
 <article class="search-result row">
       <div class="col-xs-12 col-sm-12 col-md-4">

        <h4>Birth: <%= @plot.birth_date %></h4>
        <h4>Birth Location: <%= @plot.birth_location %></h4>
        <h4>Death: <%= @plot.death_date %></h4>
        <h4>Birth Location: <%= @plot.death_location %></h4>
        <h4>SCV: <%= link_to @plot.scv_id, "http://cgr.scv.org/vetDetails.php?id="+@plot.scv_id %></h4>
        <h4>Find A Grave: <%= link_to  @plot.find_a_grave, "http://www.findagrave.com/cgi-bin/fg.cgi?page=gr&GRid="+@plot.find_a_grave %></h4>
        
         
    
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 excerpet">
            <p><%= @plot.description %></p>  
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 ">
            <% unless @plot_photo.first == nil%>
            <a href="#" title="Lorem ipsum" class="thumbnail"><%= image_tag @plot_photo.first.photo(:small) %></a>
          <% else %>
              <%= link_to cemetery_plot_path(@plot.cemetery.id, @plot.id) do %>
              <img src="/assets/original/missing.png", class="pull-right"></a>
              <% end %>
          <% end %>
       </div>         
      </div>
      <span class="clearfix borda"></span>
    </article>
  <div class="panel">
  <ul class="nav nav-pills">

          <% if user_signed_in? %>
            <% if current_user.has_role? :admin %>
              <li><%= link_to "Add Picture", new_cemetery_plot_attachment_path(@cemetery, @plot)%></a></li>
              <li><%= link_to "Edit Plot", edit_cemetery_plot_path(@cemetery, @plot)%></li>
              <li><%= link_to "Delete", cemetery_plot_path(@cemetery,@plot), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }%>
            <% end %>
          <% end %>

 
  </ul>
     
  </div>
  </div>
  <div class="container">

   <% @plot.attachments.each do |attachment| %>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <%= link_to "#", :data=> {:toggle=> "modal", :target=>"#lightbox"}, :class=> "thumbnail" do %>
          <%= image_tag attachment.photo(:original) %>

          <% if user_signed_in? %>
            <% if current_user.has_role? :admin %>
              <%= link_to "Delete", cemetery_plot_attachment_path(@cemetery,@plot,attachment), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }%>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <%end%>
  </div>

</div>


<div id="lightbox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <button type="button" class="close hidden" data-dismiss="modal" aria-hidden="true">×</button>
        <div class="modal-content">
            <div class="modal-body">
                <img src="" alt="" />
            </div>
        </div>
    </div>
</div>