 <% content_for :head do %>
 
  <%= stylesheet_link_tag 'plots', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'plots', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">

<% end %>
<% @plot_photo = @plot.attachments %>

 <div class="main-block">
 <div class="row">
      <div class="col-md-9"> 
      <h1><%= @plot.rank %> <%= @plot.last_name %> <small><%=@plot.first_name%> <%=@plot.middle_name%></small></h1> 
      </div>
      <div class="col-md-2">
      <% if user_signed_in? %>
        <% if current_user.has_role? :admin %>
     <div class="col-md-6">
      
        <%= link_to edit_cemetery_plot_path(@cemetery, @plot), :class=> "btn btn-primary" do %>
            <i class="glyphicon glyphicon-pencil"></i>
            <span><strong>Edit</strong></span>       
        <% end %>
    </div>
     <div class="col-md-6">
        <%= link_to cemetery_plot_path(@cemetery,@plot), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }, :class=> "btn btn-danger" do %>
          <i class="glyphicon glyphicon-trash"></i>
          <span><strong>Delete</strong></span>          
        <% end %>
    </div>
    <% end %>
  <% end %>
   </div>   
   </div>  
 <article class="search-result row">
       <div class="col-xs-12 col-sm-12 col-md-4">

        <h4>Birth: <%= @plot.birth_date %></h4>
        <h4>Birth Location: <%= @plot.birth_location %></h4>
        <h4>Death: <%= @plot.death_date %></h4>
        <h4>Death Location: <%= @plot.death_location %></h4>
        <h4>Mother: <%= @plot.mother %></h4>
        <h4>Father: <%= @plot.father %></h4>
        
         
    
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 excerpt">
            <p><%= @plot.description %></p>  
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 ">
            <% unless @plot_photo.first == nil%>
            <a href="#" title="Lorem ipsum" class="thumbnail"><%= image_tag @plot_photo.first.photo(:small) %></a>
            <h4><%= @plot.unit %></h4>
          <% else %>
              <%= link_to cemetery_plot_path(@plot.cemetery.id, @plot.id) do %>
              <%= image_tag "original/missing.png" %>
              <% end %>
          <% end %>
       </div>         
      
      <span class="clearfix borda"></span>
   </article>
  


                      <div class="panel panel-grey">
                          <div class="panel-heading">
                             <% if user_signed_in? %>
                                <% if current_user.has_role? :admin %>
                                  <button class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#newAttachment">Add Attachments</button>
                                <% end %>
                              <% end %>
                              <h4>Photos</h4>
                          </div>
                          <div class="panel-body">
                          <% @plot.attachments.each do |attachment| %>
                            <div class="col-md-3 col-sm-4 col-xs-6">
                              <%= link_to attachment.photo(:original), data: {:gallery=>""} do %>
                               <%= image_tag attachment.photo(:thumb), :class=> "thumbnail" %> 
                              <% end %>
                               <% if user_signed_in? %>
                                <% if current_user.has_role? :admin %>
                                 <%= link_to "Delete", cemetery_plot_attachment_path(@cemetery, @plot, attachment), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }%>
                                <% end %>
                              <% end %>
                            </div> 
                          
                          <% end %>
                          </div>
                        </div>
                          <div class="panel panel-grey">
                            <div class="panel-heading">
                                <h4>Service Records</h4>
                            </div>
                            <div class="panel-body">
                              <div class="row">
                                <div class="col-md-6">
                                  <h4> Date Entered: <%= @plot.enlistment_date %></h4>
                                  <h4> Enlistment Location: <%= @plot.enlistment_location %></h4>
                                  <h4> Date Service Ended: <%= @plot.service_end_date %></h4>
                                  <h4> Place of Death: <%= @plot.death_location %></h4>
                                </div>
                                <div class="col-md-6">
                                  <h4> Disposition: </h4>
                                  <p> <%= @plot.disposition%></p>
                                  <h4> Rank <%= @plot.rank %></h4>

                                </div>
                              </div>
                            </div> 
                          </div>
                        </div>
 

              
          
                        <div class="panel panel-grey">
                        <div class="panel-heading">
                          <% if user_signed_in? %>
                                <% if current_user.has_role? :admin %>
                                  <button class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#newLink">Add Links</button>
                                <% end %>
                              <% end %>
                          <h4>Links</h4>

                        </div>
                        <div class="panel-body">
                        <% unless @plot.scv_id == nil %>
                        <h4>SCV: <%= link_to "Link", "http://cgr.scv.org/vetDetails.php?id="+@plot.scv_id %></h4>
                        <% end %>
                        <% unless @plot.find_a_grave == nil %>
                        <h4>Find A Grave: <%= link_to  "Link", "http://www.findagrave.com/cgi-bin/fg.cgi?page=gr&GRid="+@plot.find_a_grave %></h4>
                        <% end %>
                        <% unless @plot.fold_3_url == nil %>
                        <h4>Fold 3: <%= link_to  "Link", @plot.fold_3_url %></h4>
                        <% end %>

                        <% @plot.links.each do |link| %>
                        <h4><%= link.title %>: <%= link_to  "Link", link.url %></h4>
                        <% end %>

                        </div>
                        </div>
                           
        
                               
                  
          

                         

<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

 </div>


<!-- 5. $DEFAULT_MODAL =============================================================================

        Default modal
-->
        <!-- Modal -->
        <div id="newAttachment" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">New Photo</h4>
              </div>
              <div class="modal-body">
                  <%= render "attachments/form" %>
              </div> <!-- / .modal-body -->
            </div> <!-- / .modal-content -->
          </div> <!-- / .modal-dialog -->
        </div> <!-- /.modal -->
        <!-- / Modal -->

       
<!-- /5. $DEFAULT_MODAL -->
 
 <!-- 5. $DEFAULT_MODAL =============================================================================

        Default modal
-->
        <!-- Modal -->
        <div id="newLink" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">New Link</h4>
              </div>
              <div class="modal-body">
                  <%= render "links/form" %>
              </div> <!-- / .modal-body -->
            </div> <!-- / .modal-content -->
          </div> <!-- / .modal-dialog -->
        </div> <!-- /.modal -->
        <!-- / Modal -->

       
<!-- /5. $DEFAULT_MODAL -->




<script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
 <%= stylesheet_link_tag 'bootstrap-image-gallery', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'bootstrap-image-gallery', 'data-turbolinks-track' => true %>