<% content_for :head do %>
 
  <%= stylesheet_link_tag 'users', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'users', 'data-turbolinks-track' => true %>
<% end %>




<div class="container">
<div class="row">
<div class="col-md-3"></div>
  <div class="col-md-6">
  <div class="page-header"><h2>Login Form</h2></div>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post , :class => 'form-horizontal'}) do |f| %>

  
  
    <fieldset>

      <!-- Form Name -->
      <legend><h3>Have an account? Sign In</h3></legend>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-md-1 control-label" for="username"></label>  
        <div class="col-md-12">
          <%= f.email_field :email, autofocus: true, class: "form-control input-md", :placeholder => "Email Address" %>
          

        </div>
      </div>


      <!-- Button (Double) -->
      <div class="form-group">
        <label class="col-md-1 control-label" for="login"></label>
      <div class="col-md-5">
        <%= f.submit "Send Reset", :class=> "btn btn-block btn-success" %>

      </div>
      
      </div>
    </fieldset>
  <% end %>
  <%= render "devise/shared/links" %>
</div> <!--./row -->
<div class="col-md-3"></div>
</div> <!--./container -->

  

