
<!--
<div class="row text-center product">
<%= image_tag("csagbanner.jpg",:class=> "img-responsive" ) %>
</div>
  -->
 <% content_for :head do %>
 
  <%= stylesheet_link_tag 'welcome', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'welcome', 'data-turbolinks-track' => true %>
 <% end %> 

<div class="container">
  <div class="header">
  	<div class="row logo-big">
  		<h1> CSA Graves </h1>
  		<h2>Confederate Veterans Graves of Texas</h2>

  	</div>
  <div class="row bottom">
  	<p>
  		Presented by W.H. "Howdy" Martin Camp #1241, Sons of Confederate Veterans, Athens, Henderson County, Texas 
  	</p>
  	</div>
  </div>
  <div class="icon-box-1 text-center">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <!-- Icon Box One Item -->
        <div class="icon-box-1-item">
          <!-- Icon Box One Icon -->
          <a href="#"><i class="fa fa-flag red"></i></a>
          <!-- Icon Box One Headeing -->
          <h4><a href="#">Confederate Heritage</a></h4>
          <!-- Icon Box One Paragraph -->
         <div class="text-left">
            <ul class="list-9">
              <li><a href="http://www.scv.org">National SCV</a></li>
              <li><a href="http://www.scvtexas.org">Texas Division SCV</a></li>
              <li><a href="http://www.martincamp.org">Howdy Martin Camp</a></li>
              <li><a href="http://www.hqudc.org/">Daughters of the Confederacy</a></li>
              <li><a href="http://www.confederaterose.org">Order of the Confederate Rose</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="icon-box-1-item">
          <%= image_tag "csa-logo.jpg", :class=>"img-responsive" %>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!-- Icon Box One Item -->
        <div class="icon-box-1-item">
          <a href="#"><i class="fa fa-cog pink"></i></a>
          <h4><a href="#">Research Links</a></h4>
          <div class="text-left">
            <ul class="list-9">
              <li><a href="http://www.fold3.com">Fold 3</a></li>
              <li><a href="http://www.ancestry.com">Ancestry.com</a></li>
              <li><a href="http://findagrave.com">Find A Grave</a></li>
              <li><a href="http://billiongraves.com">Billon Graves</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>   
  </div>
  <!-- Counter #1 starts -->
  <div class="counter-one text-center">
    <div class="container">
      <div class="counter-content">
        <div class="row">
          <div class="col-md-2 col-sm-4 col-xs-6">
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <!-- Counter content item -->
            <div class="counter-item">
              <i class="fa fa-bookmark-o green"></i>
              <span class="number-count" data-from="0" data-to="<%= Cemetery.all.size %>" data-speed="2000" data-refresh-interval="100"></span>
              <hr class="br-green" />
              <h5>Cemeteries</h5>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <!-- Counter content item -->
            <div class="counter-item">
              <i class="fa fa-users lblue"></i>
              <span class="number-count" data-from="0" data-to="<%= Plot.all.size %>" data-speed="2000" data-refresh-interval="100"></span>
              <hr class="br-lblue" />
              <h5>Veteran Graves</h5>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <!-- Counter content item -->
            <div class="counter-item">
              <i class="fa fa-eye yellow"></i>
              <span class="number-count" data-from="0" data-to="2434" data-speed="2000" data-refresh-interval="100"></span>
              <hr class="br-yellow" />
              <h5>Visitors</h5>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <!-- Counter content item -->
    

          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <!-- Counter content item -->
    

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Counter #1 ends -->
</div>


<script type="text/javascript">
 <!-- Counting code -->
$(document).on('page:change', function () {
        // Way Points With Count To()
        $('.number-count').waypoint(function(down){
          if(!$(this).hasClass('stop-counter'))
          {
            $(this).countTo();
            $(this).addClass('stop-counter');
          }
        }, { 
          offset: '90%' 
        });
      });   
</script>