<div class="container">
<div class="form-group">
<%= simple_form_for @cemetery, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-md-4 ' %>
    <div class="controls col-md-4">
      <%= f.text_field :name, :class => 'text_field form-control input-md' %>
    </div>
  </div>
   <div class="form-group">
    <%= f.label :address, :class => 'control-label col-md-4 ' %>
    <div class="controls col-md-4">
      <%= f.text_field :address, :class => 'text_field form-control input-md' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :address_two, :class => 'control-label col-md-4 ' %>
   <div class="controls col-md-4">
      <%= f.text_field :address_two, :class => 'text_field form-control input-md' %>
    </div>
  </div>
   <div class="form-group">
    <%= f.label :city, :class => 'control-label col-md-4 ' %>
   <div class="controls col-md-4">
      <%= f.text_field :city, :class => 'text_field form-control input-md' %>
    </div>
  </div>
  <div class="form-group">
      <%= f.label :state, :class => 'control-label col-md-4 ' %>
   <div class="controls col-md-4">
      <%= f.text_field :state, :class => 'text_field form-control input-md' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :zip, :class => 'control-label col-md-4 ' %>
   <div class="controls col-md-4">
      <%= f.text_field :zip, :class => 'text_field form-control input-md' %>
    </div>
  </div>
   <div class="form-group">
    <%= f.label :url, :class => 'control-label col-md-4 ' %>
   <div class="controls col-md-4">
      <%= f.text_field :url, :class => 'text_field form-control input-md' %>
    </div>
  </div>
   <div class="form-group">
    <%= f.label :phone, :class => 'control-label col-md-4 ' %>
     <div class="controls col-md-4">
      <%= f.text_field :phone, :class => 'text_field form-control input-md' %>
    </div>
  </div>
   <div class="form-group">
    <%= f.label :description, :class => 'control-label col-md-4 ' %>
   <div class="controls col-md-4">
      <%= f.text_field :description, :class => 'text_field form-control text-input-lg' %>
    </div>
  </div>
   <div class="form-group">
    <%= f.label :logo, :class => 'control-label col-md-4 ' %>
   <div class="controls col-md-4">
      <%= f.file_field :logo, :class => 'file_field' %>
    </div>
  </div>
<div class="form-group">
  <label class="col-md-4 control-label" for="button1id"></label>
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                cemeteries_path, :class => 'btn' %>
  </div>
  </div>
<% end %>
</div>