 <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <input type="search" id="container-search" value="" class="form-control" placeholder="Search...">
        </div>
    </div>
<div class="container" id="searchable-container">

    <hgroup class="mb20">
    <h1>Cemetery Listings</h1>
    <h2 class="lead"><strong class="text-danger"><%= @cemeteries.count %></strong> can be found in our <strong class="text-danger">database</strong></h2>
    <% if user_signed_in? %>
      <% if current_user.has_role? :admin %>
      <%= link_to "Add Cemetery", new_cemetery_path %>

      <% end %>    
    <% end %>           
  </hgroup>

    <section class="col-xs-12 col-sm-6 col-md-12">
    <% @cemeteries.each do |cemetery|%>
    <article class="search-result row">
      <div class="col-xs-12 col-sm-12 col-md-3">
       <%= link_to cemetery_plots_path(cemetery), :class=> "thumbnail" do %>
       <%= image_tag cemetery.logo(:medium) %>
       <%end%>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-2">
        <ul class="meta-search">
        
          <li><i class="glyphicon glyphicon-info-sign"></i> <span><%= cemetery.plots.count %> Graves</span></li>
          <li><i class="glyphicon glyphicon-circle-arrow-right"></i> <span><%= link_to "More Details", cemetery_path(cemetery)%></span></li>
          <li><i class="glyphicon glyphicon-search"></i> <span><%= link_to "Browse Graves", cemetery_plots_path(cemetery)%></span></li>
            <% if user_signed_in? %>
              <% if current_user.has_role? :admin %>
               <li><i class="glyphicon glyphicon-pencil"></i> <span><%= link_to "edit", edit_cemetery_path(cemetery)%></span></li>

              <% end %>    
            <% end %>  
        </ul>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
        <h3><%= link_to cemetery.name, cemetery_plots_path(cemetery) %></h3>
        <h4><%= cemetery.full_street_address %></h4>

        <p><%=cemetery.description %></p>            
      <span class="plus">
      <%= link_to cemetery_path(cemetery) do %>
        <i class="glyphicon glyphicon-plus"></i></a>
      <% end %>
      </span> 
      </div>
      <span class="clearfix borda"></span>
    </article>
    <% end %>

  </section>
</div>
        





<script src="//rawgithub.com/stidges/jquery-searchable/master/dist/jquery.searchable-1.0.0.min.js">

</script>








<script>
  $(function () {
    $( '#table' ).searchable({
        striped: true,
        oddRow: { 'background-color': '#f5f5f5' },
        evenRow: { 'background-color': '#fff' },
        searchType: 'fuzzy'
    });
    
    $( '#searchable-container' ).searchable({
        searchField: '#container-search',
        selector: '.row',
        childSelector: '.col-xs-12',
        show: function( elem ) {
            elem.slideDown(100);
        },
        hide: function( elem ) {
            elem.slideUp( 100 );
        }
    })
});
</script>
        
        
        
        
        
      
  