<%= content_for :title do %>
 CSA Graves - Cemetery Listing
<% end %>

<div class="main-block real-estate">

<div class="container">
  <div class="rs-property">

<% @cemeteries.in_groups_of(3) do |group| %>
  <div class ="row">
      <% group.each do |cemetery|%>
          <% if cemetery %>
            
              <div class="col-md-4 col-sm-4">
                <!-- Real estate property item -->
                <div class="property-item">
                  <div class="img-container">
                    <!-- Product Image -->
                      <%= link_to cemetery_path(cemetery), data: { no_turbolink: true } do %>
                      <%= image_tag cemetery.logo(:medium), :class=> "img-responsive" %>
                      <% end %>
                    <span class="hover-top bg-color"><%= cemetery.city %> <% if cemetery.county %>- <%= cemetery.county %> County <% end %> </span>
                    <span class="hover-bottom bg-red"><%= cemetery.plots.count %> Graves</span>
                  </div>
                  <!-- product title -->
                  <h4><%= link_to cemetery.name, cemetery_path(cemetery), data: { no_turbolink: true } %></h4>
                  <!-- product details -->
                  <div class="property-details text-center">
                    <%= link_to "Confederate Veteran Graves", cemetery_path(cemetery), :class=> "ecom", data: { no_turbolink: true } %>
                    
                    <!-- price -->
                    <span class="price pull-left"></span>
                    <div class="clearfix"></div>
                  </div>
                  <!-- Info -->
                  <div class="p-info">
                    <%= link_to "Browse", cemetery_plots_path(cemetery), data: { no_turbolink: true }%>
                    <% if user_signed_in? %>
                            <% if current_user.has_role? :admin %>
                             <%= link_to "Edit", edit_cemetery_path(cemetery)%>

                            <% end %>    
                    <% end %> 
                    <div class="clearfix"></div>
                  </div>
                  <!-- Property Details List -->
                  <ul class="list-3">
                     
                          
                  </ul>
                  <div class="clearfix"></div>
                </div>
            </div>
          <% end %>
      <% end %>
   
    </div>

     <div class="divider-6"></div>     
<% end %>


</div>
</div>
</div>