<div class="container">

    <hgroup class="mb20">
    <h1>Cemetery Listings</h1>
    <h2 class="lead"><strong class="text-danger"><%= @cemeteries.count %></strong> can be found in our <strong class="text-danger">database</strong></h2>               
  </hgroup>

    <section class="col-xs-12 col-sm-6 col-md-12">
    <% @cemeteries.each do |cemetery|%>
    <article class="search-result row">
      <div class="col-xs-12 col-sm-12 col-md-3">
       <%= link_to cemetery_plots_path(cemetery), :class=> "thumbnail" do %>
       <%= image_tag cemetery.logo(:medium) %>
       <%end%>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-2">
        <ul class="meta-search">
        
          <li><i class="glyphicon glyphicon-info-sign"></i> <span><%= cemetery.plots.count %> Graves</span></li>
          <li><i class="glyphicon glyphicon-search"></i> <span><%= link_to "Browse", cemetery_plots_path(cemetery)%></span></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
        <h3><%= link_to cemetery.name, cemetery_plots_path(cemetery) %></h3>
        <h4><%= cemetery.full_street_address %></h4>

        <p><%=cemetery.description %></p>            
      <span class="plus">
      <%= link_to cemetery_path(cemetery) do %>
        <i class="glyphicon glyphicon-plus"></i></a>
      <% end %>
      </span> 
      </div>
      <span class="clearfix borda"></span>
    </article>
    <% end %>

  </section>
</div>
        















        
        
        
        
        
      
  