<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Confederate Graves of Texas" %></title>
    <meta name="google-site-verification" content="fbhKpber4PBB4voJ59GDggL1ZTmumyh22LLLA7r9lMw" />
    <%= csrf_meta_tags %>
    <%= canonical_tag -%>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->
 
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag params[:controller] %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :head %>
  </head>
  <body>
  <%= render :partial =>  'layouts/navbar' %>


  



            <div id="wrap">
              <div class="container clear-top">
              <%= yield %>
              </div>
            </div>
              <footer class="footer">
              <div class="row">
                <div class="container">

                <p>© 2014 CSA Graves. All rights reserved.</p>
                <p>Web Design and Hosting provided by Optimus Labs <a href="http://getoptimus.com" rel="nofollow" >Get Optimus!</a></p>
                </div>
              </div>
             </footer>
      
   

   



      
 </body>
</html>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51149703-1', 'csagraves.net');
  ga('send', 'pageview');

</script>